@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800&display=swap");
@import "colors";
@import "icons";

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.mt-56{
  margin-top: 56px;
}

.dark-blue-text {
  color: $darkBlue;
}

.blue-text {
  color: $blue;
}

.turquoise-text {
  color: $turquoise;

}

.orange-text {
  color: $orange;
}

.grey-text {
  color: $grey;
}

.light-grey-text {
  color: $lightGrey;
}
*{
  border-radius: 0 !important;
}
a {
  color: $darkBlue;

  &:hover {
    color: $darkBlue;
  }
}


.btn {
  border-radius: 0;
  border-width: 2px;

  &-blue {
    background: $blue;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
    border-color: $blue;
    color: $white;
    transition: 0.2s;
font-weight: bold;
    &:hover {
      background: transparent;
      color: $blue;

    }
  }

  &-more {
    background: transparent;
    border-color: $white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
    transition: 0.2s;

    &:hover {
      background: $darkBlue;
      border-color: $white;
    }

    &:active, &:focus {
      background: $darkBlue !important;
      border-color: $white !important;
    }

    &:active {
      transform: scale(0.9);

    }
  }
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}

.smaller-text {
  font-size: 12px;
}

input, button{
  border-radius: 0 !important;
}
.alert{
  border-radius: 0 !important;
}
.no-shadow{
  box-shadow: none;
}
.border-1{
  border-width: 1px;
}